{{define "generate"}}
{{template "header"}}
<div class="text-center form-generate">
 <h3 class="h3 mb-3 font-weight-normal">Адрес</h3>
  <form onsubmit="return sendForm()">
    {{ if .Addresses}}
    <select id="selectedOption" class="custom-select mb-3" >
        {{range .Addresses}}
          <option value="{{.}}">{{.}}</option>
        {{end}}
      <option value="diffrent">Указать свой</option>
    </select>
    {{end}}
    <input type="text" id="inputDiffrent" name="inputDiffrent" class="form-control mb-3 {{if .Addresses}}d-none{{end}}" placeholder="0.0.0.0">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Получить">
  </form>
  <br>
  <img id="result"/>
</div>
  <script>
    function ValidateIPaddress(ipaddress) {  
    if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {  
      return (true)  
    }  
    return (false)  
    } 

    var selectedOption = document.getElementById("selectedOption");
    var diffrentInput = document.getElementById("inputDiffrent");

    if (selectedOption != null){
      selectedOption.addEventListener('change',function(){
        diffrentInput.classList.remove("d-none")
      })
    }

    function sendForm() {
      // selectedOption == null || selectedOption.value == "diffrent"

      selectedOption = document.getElementById("selectedOption");
      diffrentInput = document.getElementById("inputDiffrent");

      if (selectedOption != null){
        if (selectedOption.value != "diffrent"){
          // Get value from options
          selectedOption = document.getElementById("selectedOption").value;
        }else{
          // Get value from diffrent input
          selectedOption = document.getElementById("inputDiffrent").value;
        }
      }else{
        // Get value from diffrent input
        selectedOption = document.getElementById("inputDiffrent").value;
      }

      if (ValidateIPaddress(selectedOption)){
        // IP is valid
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/qrcode", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("result").src = xhr.responseText;
          }
        };
        xhr.send(selectedOption);
        return false;
      }else{
        // IP is invalid
        // TODO: add message "You have entered an invalid IP address!")
        diffrentInput.classList.add("is-invalid")
        
        return false;
      }
    }
  </script>

{{template "footer"}}
{{end}}