{{define "generate"}}
{{template "header"}}
<div class="text-center form-generate">
 <h3 class="h3 mb-3 font-weight-normal">Адрес</h3>
  <form onsubmit="return sendForm()">
    {{ if .Addresses}}
    <select id="selectedOption" class="custom-select mb-3" >
        {{range .Addresses}}
          <option value="{{.}}">{{.}}</option>
        {{end}}
      <option value="diffrent">Указать свой</option>
    </select>
    {{end}}
    <input type="text" id="inputDiffrent" name="inputDiffrent" class="form-control mb-3 {{if .Addresses}}d-none{{end}}" placeholder="0.0.0.0">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Получить">
  </form>
  <br>
  <img id="result"/>
</div>
<script src="/static/form_generate.js"></script>

{{template "footer"}}
{{end}}