{{define "generate"}}
{{template "header"}}
<div class="text-center form-generate">
 <h3 class="h3 mb-3 font-weight-normal">Адрес</h3>
  <form onsubmit="return sendForm()">
      {{ if .Addresses}}
      <select id="selectedOption" class="custom-select mb-3" >
          {{range .Addresses}}
            <option value="{{.}}">{{.}}</option>
          {{end}}
        <option value="diffrent">Указать свой</option>
      </select>
      {{end}}
      <div class="form-group {{if .Addresses}}hide{{end}}" id="groupDiffrent">
      <input type="text" id="inputDiffrent" name="inputDiffrent" class="form-control" placeholder="0.0.0.0">
      <div class="invalid-feedback">Введен недействительный адрес</div>
    </div>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Получить">
  </form>
  <br>
  <img id="result" class="image-qr rounded" src=""/>
</div>
<script src="/static/form_generate.js"></script>

{{template "footer"}}
{{end}}